<!doctype html>
<html lang="en">
<head>
    <title>GET VIDEO</title>
    <meta charset="utf-8">
    <script src="{{ url_for('static',filename='js/jquery-2.2.4.js') }}"></script>
    <script src="{{ url_for('static',filename='js/my.js') }}"></script>
    <script src="{{ url_for('static',filename='js/three.js') }}"></script>
    <script src="{{ url_for('static',filename='js/OrbitControls.js') }}"></script>
    <script src="{{ url_for('static',filename='js/vConsole.js') }}"></script>
    <script src="{{ url_for('static',filename='js/GLTFLoader.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/camera.css') }}">
    <style>
        body {
            margin: 0;
            overflow: hidden;
            /* 隐藏body窗口区域滚动条 */
        }
    </style>
</head>
<body>
    <div class="container">
{#        <canvas id="canvas" class="canvas"></canvas>#}
        <video id="video" class="home-video"  autoplay="autoplay"></video>
    </div>
<!--<canvas id="canvas"></canvas>-->
<script>
    begin_run()
    var vConsloe = new VConsole()
    // let canvas = document.getElementById("canvas")
    // canvas.clientWidth = window.innerWidth
    // canvas.clientHeight = window.innerHeight
</script>
<script>
    /**
     * 创建场景对象Scene
     */
    let canvas = document.getElementById("canvas")
    var scene = new THREE.Scene();



    /**
     * 光源设置
     */
        //点光源
    var point = new THREE.PointLight(0xffffff);
    point.position.set(400, 200, 300); //点光源位置
    scene.add(point); //点光源添加到场景中
    //环境光
    var ambient = new THREE.AmbientLight(0x444444);
    scene.add(ambient);
    // console.log(scene)
    // console.log(scene.children)
    /**
     * 相机设置
     */
    var width = window.innerWidth; //窗口宽度
    var height = window.innerHeight; //窗口高度
    var k = width / height; //窗口宽高比
    var s = 200; //三维场景显示范围控制系数，系数越大，显示的范围越大
    //创建相机对象
    var camera = new THREE.OrthographicCamera(-s * k, s * k, s, -s, 1, 1000);
    camera.position.set(500, 300, 200); //设置相机位置
    camera.lookAt(scene.position); //设置相机方向(指向的场景对象)

    var loader = new THREE.GLTFLoader();
    loader.load('{{ url_for('static',filename='model/jumpboost_arrow/scene.gltf') }}', function (gltf) {
    model = gltf.scene;
    //场景中添加模型文件
    scene.add(model);
    model.traverse(function (gltf) {
         if (gltf.isMesh) {
          //设置mesh的一些属性
         }
          });
         //设置整体场景的比例
        model.scale.set(1, 1, 1);
        model.rotateX(60)
        {#model.rotateZ(90)#}
        renderer.render(scene,camera)
     });
    /**
     * 创建渲染器对象
     */
    var renderer = new THREE.WebGLRenderer({ antialias: true,alpha:true,canvas:canvas});
    renderer.setSize(width, height);//设置渲染区域尺寸
    renderer.setClearColor(0xEEEEEE, 0.0); //设置背景颜色
    {#document.body.appendChild(renderer.domElement); //body元素中插入canvas对象#}
    //执行渲染操作   指定场景、相机作为参数
    // renderer.render(scene, camera);

    // // 渲染函数——这里是旋转效果
    // function render(){
    //     renderer.render(scene,camera)
    //     mesh.rotateY(0.01)
    // }
    // // windows会20ms运行一次这个函数
    // setInterval("render()",20);


    //执行渲染的另外一种方法
    let T0 = new Date();//上次时间
    function render() {
        let T1 = new Date();//本次时间
        let t = T1-T0;//时间差
        T0 = T1;//把本次时间赋值给上次时间
        requestAnimationFrame(render);
        renderer.render(scene,camera);//执行渲染操作
        {#mesh.rotateY(0.001*t);//旋转角速度0.001弧度每毫秒#}
        {#mesh2.rotateY(0.001*t)#}
        {#model.rotateX(0.001*t)#}
        {#model.translateX(0.1*t)#}
    }
    render();


    // 监听鼠标
    // function render() {
    //     renderer.render(scene,camera);//执行渲染操作
    //     // mesh.rotateY(0.01);//每次绕y轴旋转0.01弧度
    //     requestAnimationFrame(render);//请求再次执行渲染函数render
    //
    // }
    // render();
    // var controls = new THREE.OrbitControls(camera,renderer.domElement);//创建控件对象
    // controls.addEventListener('change', render);//监听鼠标、键盘事件
</script>
</body>
</html>